<select id=<%=id%>>
  <% 
        // month strings extracten met locale
        d = new Date(1, 0, 1);
        var monthNames = [];
        for(i = 0; i<12; i++){
            d.setMonth(i);
            monthNames.push(d.toLocaleString(locale, {month: 'long'}));
        }

        for(m in monthNames){ %>
  <option>
    <%=monthNames[m]%>
  </option>
  <% } %>
</select>