<nav>
    <a href="/" class= <%= (active == 'home') ? 'active' : ''  %>>Home</a>
    <a href="/analyse" class= <%= (active == 'analyse') ? 'active' : ''  %>>Analyse</a>
    <a href="/input" class= <%= (active == 'input') ? 'active' : ''  %>>Input data</a>
    <a href="/logout" style="float:right">Logout</a>
    <a href="/settings" style="float:right" class= <%= (active == 'settings') ? 'active' : ''  %>>Settings</a>
</nav>

<label>  </label>