body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    margin: 0;
}

body.dark-mode {
    background: #1e1e2e;
    color: #eaeaea;
}

h1 {
    padding-top: 15px;
    color: cornflowerblue;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #41464b;
}

label.dark-mode {
    color: #eaeaea;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

select.viewselector {
    margin: 10px;
}

button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: cornflowerblue;
    width: 100%;
    font-size: 16px;
}

div.roleSelector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

#adminButton, #userButton {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color: black;
    background-color: darkgrey;
    width: 100%;
    font-size: 16px;
}

#adminButton:hover, #userButton:hover {
    background-color: grey;
    transition: 0.7s;
    cursor: pointer;
}

#adminButton:disabled, #userButton:disabled {
    background-color: #41464b;
}

button:hover {
    background-color: #002ead;
    transition: 0.7s;
    cursor: pointer;
}

button:active {
    background-color: cornflowerblue;
    transition: 0s;
}

.error {
    display: block;
    color: red;
    margin: 5px 0 5px 0;
    width: 100%;
}

ul {
    padding: 0;
    width: 100%;
}

li {
    display: inline;
    float: left;
}


/* navbar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

nav.dark-mode {
    background-color: #1e1e1e;
}

nav a {
    float: left;
    display: inline;
    display: block;
    color: cornflowerblue;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: cornflowerblue;
    color: white;
}

nav a.active {
    background-color: cornflowerblue;
    color: white;
}


/* input form input.html */

form.input-form {
    width: 35%;
}

label.input-form {
    text-align: left;
    margin-left: 1%;
}

textarea.input-form {
    width: 100%;
    height: 50%;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea.input-form.dark-mode {
    background-color: #41464b;
    color: white;
}

input.input-form.dark-mode {
    background-color: #41464b;
    color: white;
}

button.input-form {
    display: block;
    margin: auto;
    width: fit-content;
    padding-left: 10mm;
    padding-right: 10mm;
}


/* calender */

div.grid-container {
    height: fit-content;
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

div.grid-item {
    border-radius: 5px;
    border: 1px solid #ddd;
}

ul.calender-header {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

ul.calender-header li {
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: #ddd;
    word-spacing: 10px;
}

ul.calender-header.dark-mode li {
    background-color: #1e1e1e;
}

ul.calender-header li.clickable:hover {
    color: white;
    cursor: pointer;
}

ul.calender-body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

ul.calender-body li {
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
}

ul.calender-body li.clickable:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

ul.calender-body li.active {
    color: cornflowerblue;
}

ul.calender-body li.clicked {
    box-shadow: 0px 0px 0px 3px cornflowerblue inset;
}

ul.entry-list li {
    width: 100%;
}

ul.entry-list li t {
    align-self: center;
    color: cornflowerblue;
    font-weight: bold;
    font-size: large;
}

ul.entry-list li p {
    margin: 0 0 10px 0;
    white-space: pre;
}


.week-selector.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

#calender-month.dark-mode option {
    background-color: #1e1e1e;
    color: white;
}

/* Histogram */

.histogram {
    width: 70%;
}

.week-selector {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    display: inline-flex;
    flex-direction: row;
}

.week-selector.dark-mode {
    color: white;
    background-color: #1e1e1e;
}

.week-selector select {
    width: fit-content;
    background-color: transparent;
    border: none;
    height: 35px;
}

.week-selector.dark-mode select {
    color: white;
    background-color: #1e1e1e;
}

.week-selector input {
    width: fit-content;
    background-color: transparent;
    border: none;
    height: 35px;
}

.week-selector.dark-mode input {
    color: white;
    background-color: #1e1e1e;
}

.week-selector button {
    margin: 0 0 0 0;
    height: 35px;
    width: fit-content;
    font-size: small;
}

.week-selector.dark-mode button {
    color: white;
    background-color: #1e1e1e;
}

/* for settings page */

#analyseViewChoicesLabel,
#darkModeLabel {
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bold;
}

#analyseViewChoices {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 80px;
    margin-bottom: 100px;
}

#listDivision,
#histogramDivision {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 30px;
}

#histogramChoice,
#listChoice,
#histogramLabel,
#listLabel {
    display: inline-block !important;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
}

#saveOrCancel {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 10px;
}

#save,
#cancel {
    display: inline-block;
    width: 200px;
    height: 60px;
}

/* notifications */
#totalNotifications {
    background-color: green;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}

#unreadNotifications {
    background-color: red;
    color: white;
    border-radius: 3px;
}

#notificationScroller {
    overflow-y: visible,
}

.notificationFlare {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1000px;
    border: solid black 2px;
    background-color: #dddddd;
}

.notificationFlare.dark-mode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1000px;
    border: solid black 2px;
    background-color: #41464b;
}

#notificationDetails {
    display: grid;
    grid-template-rows: 1 1 1;
    margin-left: 10px;
}

#actionButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

#notificationTitle {
    background-color: transparent;
    color: black;
    font-size: 20px;
}

#notificationTitle.dark-mode {
    background-color: transparent;
    color: white;
    font-size: 20px;
}

#notificationTitle:hover {
    text-decoration: underline;
}

#notificationPreview, #notificationDate {
    font-size: 13px;
    margin: 0;
}

#acceptNotification, #deleteNotification {
    background-color: darkgrey;
    width: 50px;
    height: 40px;
}

#acceptNotification:hover, #deleteNotification:hover {
    background-color: #41464b;
}