<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: 'Analyse'}) %>
</head>

<body>

    <%- include('../partials/navbar', {active:'analyse'}); %>

    <h1>Analyse data</h1>

</body>

</html>