<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head", {title: 'Home'}) %>
</head>

<body>

  <%- include('../partials/navbar', {active: 'home'}); %>

  <h1>Home</h1>
  <img src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png" alt="Weather-icon" id="weather-icon" />

  <script src="js/home.js"></script>
</body>

</html>