<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: 'Input'}) %>
</head>

<body>
    <%- include('../partials/navbar', {active:'input'}); %>

    <h1>Input data</h1>

    <form class="input-form" id="form">
        <label class="input-form">Title:</label>
        <input type="text" class="input-form" id="title" required>
        <ul>
            <li style="width: 50%;">
                <label class="input-form">Start:</label>
                <input type="datetime-local" class="input-form" id="starttime" required />
            </li>
            <li style="width: 50%;">
                <label class="input-form">End:</label>
                <input type="datetime-local" class="input-form" id="endtime" required />
            </li>
        </ul>
        <label class="input-form">Description:</label>
        <textarea maxlength="1024" class="input-form" id="description" placeholder="(optional)"></textarea>
        <input multiple type="file" id="file">
        <span id="error" class="error"></span>
        <button type="submit" class="input-form">Submit</button>
    </form>

    <script src="js/input.js"></script>

</body>

</html>