<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head", {title: 'Manage employees'}) %>
</head>

<body>
  <%- include('../partials/navbar', {active: 'manage-employees'}); %>

  <h1>Add employees:</h1>

  <form id="addEmployee">
    <label for="addEmployee">Request user to add as employee</label>
    <input type="email" placeholder="johndoe@mail.com" id="emailInput" />
    <span id="response"></span>
    <button type="submit">Send</button>
  </form>

  <h1>Current employees:</h1>
  
  <div id="employeeTable" class="employeeTable">
    <div id="tableHeader" class="tableEntry">
      <div id="checkboxHeader" class="checkboxColumn"></div>
      <p id="idHeader" class="idColumn">ID</p>
      <p id="nameHeader" class="nameColumn">Name</p>
      <p id="emailHeader" class="emailColumn">Email</p>
      <div id="deleteButtonHeader" class="buttonColumn"></div>
      <div id="downloadButtonHeader" class="buttonColumn"></div>
    </div>
  </div>

  <script src="js/manageEmployees.js">
  </script>

</body>

</html>