<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: 'Notifications'}) %>
</head>

<body>

    <%- include('../partials/navbar', {active: 'notifications'}); %>

    <h1>Notifications</h1>

    <div id="notificationScroller">
    </div>

    <script src="js/notifications.js"></script>
</body>

</html>