<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head", {title: 'Settings'}) %>
</head>

<body>

  <%- include('../partials/navbar', {active:'settings'}); %>

  <h1>Settings</h1>
  <form id="settingsForm">
    <label for="darkModeButton" id="darkModeLabel">Toggle Dark Mode</label>
    <input id="darkModeButton" type="checkbox">
    <br>
    <label for="analyseViewChoices" id="analyseViewChoicesLabel">View of Analysis</label>
    <div id="analyseViewChoices">
      <select id="settings-options">
        <option>List</option>
        <option>Calender</option>
        <option>Histogram</option>
      </select>
    </div>

    <div id="saveOrCancel">
      <button id="cancel">Exit without saving</button>
      <button id="save">Save settings</button>
    </div>
  </form>

  <script src="js/settings.js"></script>

</body>

</html>