<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: 'Settings'}) %>
</head>

<body>

    <%- include('../partials/navbar', {active:'settings'}); %>

    <h1>Settings</h1>

</body>

</html>