<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head", {title: 'Settings'}) %>
</head>

<body>

  <%- include('../partials/navbar', {active:'settings'}); %>

  <h1>Settings</h1>
  <form id="settingsForm">
    <label for="darkModeButton" id="darkModeLabel">Toggle Dark Mode</label>
    <input id="darkModeButton" type="checkbox">
    <br>
    <label for="analyseViewChoices" id="analyseViewChoicesLabel">View of Analysis</label>
    <div id="analyseViewChoices">
      <div id="histogramDivision">
        <label for="histogramChoice" id="histogramLabel">Histogram</label>
        <input id="histogramChoice" type="checkbox">
      </div>
      <div id="listDivision">
        <label for="listChoice" id="listLabel">Listview</label>
        <input id="listChoice" type="checkbox">
      </div>
    </div>

    <div id="saveOrCancel">
      <button id="cancel">Exit without saving</button>
      <button id="save">Save settings</button>
    </div>
  </form>

  <script src="js/settings.js"></script>

</body>

</html>